<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ladybug">
  <link name="ladybug_link">
      <visual>
         <origin xyz="0 0 0.0" />
         <geometry>
           <cylinder length="0.13" radius="0.07" />
         </geometry>
         <material name="red">
           <color rgba="1 0 0 1"/>
         </material>
      </visual>
   </link>
   <joint name="tilt_unit_back_to_ladybug" type="fixed">
      <parent link="fb8-tilt_unit/back_top"/>
      <child link="ladybug_link"/>
      <origin xyz="-0.1 0 0.33" rpy="0 0 -${(2*M_PI)/5}"/>
   </joint>

</robot>