<launch>
        <group ns="ladybug5">
                <node name="receiver"             pkg="ladybug" type="receiver"/>
                <node name="image_node"           pkg="ladybug" type="image_node"/>
                <node name="windows_service"      pkg="ladybug" type="service"/>
        </group>
</launch>
