<launch>
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen">
  	<param name="num_worker_threads" type="int" value="12" />
  </node>
  
  <node pkg="nodelet" type="nodelet" name="Receiver_nodelet" args="load ladybug/Receiver_nodelet standalone_nodelet" output="screen">
  	<param name="connection" 	value="tcp://*:28882"/>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="Image_nodelet" args="load ladybug/Image_nodelet standalone_nodelet" output="screen" />
  
  <node name="service"	  		  pkg="ladybug" type="service" output="screen">
  	<param name="connection" 	value="tcp://192.168.1.11:28883"/>
  </node>  
</launch>
