<launch>
	<arg name="connect"  	default="1" />
	<arg name="rectify"		default="1" />
	<arg name="zoom"		default="2.2" />
	<arg name="rotate"		default="true" />
	<arg name="threads"		default="12" />
	<arg name="nodelet_manager_name" default="nodelet_manager" />
	<arg name="mode" 		default="grabber" />
	
	<include file="$(find ladybug)/launch/full.launch">
		<arg name="nodelet_manager" value="$(arg nodelet_manager_name)"/>
		<arg name="connect"			value="$(arg connect)" />
		<arg name="rectify"			value="$(arg rectify)" />
		<arg name="zoom"			value="$(arg zoom)" />
		<arg name="rotate"			value="$(arg rotate)" />
		<arg name="mode"			value="$(arg mode)" />
	</include>
</launch>