<launch>
	<arg name="nodelet_manager" default="nodelet_manager" />
	<arg name="connect"  	default="1" />
	<arg name="rectify"		default="1" />
	<arg name="zoom"		default="2.2" />

	<include if="$(arg connect)" file="$(find ladybug)/launch/receiver.launch">
		<arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
	</include>
	
	<include file="$(find ladybug)/launch/image.launch">
		<arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
	</include>	

	<include if="$(arg rectify)" file="$(find ladybug)/launch/rectify_all.launch">
		<arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
		<arg name="zoom"			value="$(arg zoom)" />
	</include>            
</launch>