<launch>
	<arg name="nodelet_manager" default="ladybug_nodelet_manager" />
	<arg name="connection" 	default="tcp://192.168.1.11:28883" />
	<arg name="listen" 		default="tcp://*:28882" />
	<arg name="type"		default="grabber" /> <!-- grabber, panoramic, others see windows config or use "rosservice call /service/windows help"-->
	
	<node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)"  args="manager" output="screen">
	  	<param name="num_worker_threads" type="int" value="4" />
	</node>
	
	<node pkg="nodelet" type="nodelet" name="Receiver_nodelet" args="load ladybug/Receiver_nodelet /$(arg nodelet_manager)">
  		<param name="connection" 	value="$(arg listen)"/>
  		<param name="type"			value="$(arg type)" />
	</node>

	<node name="service"	  		  pkg="ladybug" type="service">
  		<param name="connection" 	value="$(arg connection)"/>
	</node>
</launch>
