<launch>
	<arg name="camera"			default="4" />
	<arg name="zoom"			default="2.2" />
	<arg name="nodelet_manager" default="nodelet_manager" />
	<arg name="rotate"			default="true" />
	<arg name="seperator"		default="" />
	
	<arg if="$(arg rotate)" 		name="frame_id"		default="ladybug_camera$(arg camera)_rotated" />
	<arg unless="$(arg rotate)" 	name="frame_id"		default="ladybug_camera$(arg camera)" />
	
	<group ns="camera$(arg camera)$(arg seperator)">
		<node pkg="nodelet" type="nodelet" name="camera$(arg camera)$(arg seperator)_Rectifier_nodelet" args="load ladybug/Rectifier_nodelet /$(arg nodelet_manager)">
		  	<param name="sub" 		value="/ladybug5/camera$(arg camera)/image_raw" />
		  	<param name="sub_info"	value="/ladybug5/camera$(arg camera)/image_raw_info" />
		  	<param name="pub" 	value="/ladybug5/camera$(arg camera)$(arg seperator)/image_color_rect" />
		  	<param name="zoom" 	value="$(arg zoom)" />
		  	<param name="lut" 	value="$(find ladybug)/calibration/13122828_camera$(arg camera)_h1024_w1224_map_" />
		  	<param name="frame_id"	value="$(arg frame_id)" />
		  	<param name="rotate"	value="$(arg rotate)" />
		</node>
	</group>
</launch>
